body {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: "Press Start 2P", cursive, sans-serif;
    background-color: black;
}

ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.liElement {
    color: red;
    font-size: 3.6rem;
    text-transform: uppercase;
    list-style: none;
    -webkit-animation: moveDown 1s ease-out;
    animation: moveDown 1s ease-out;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-weight: 700;
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.heartbeat {
    -webkit-animation-name: heartbeat;
    animation-name: heartbeat;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes heartbeat {
    100% {
        transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
    }
}

@keyframes heartbeat {
    100% {
        transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
    }
}

@-webkit-keyframes moveDown {
    0% {
        -webkit-transform: translateY(-10rem);
        transform: translateY(-10rem);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes moveDown {
    0% {
        -webkit-transform: translateY(-10rem);
        transform: translateY(-10rem);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@media only screen and (max-width: 3000px) {
    .liElement {
        font-size: 50px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 1140px) {
    .liElement {
        font-size: 32px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 1023px) {
    .liElement {
        font-size: 24px;
        margin-right: 8px;
    }
}

@media only screen and (max-width: 767px) {
    .liElement {
        font-size: 22px;
        margin-right: 6px;
    }
}

@media only screen and (max-width: 480px) {
    .liElement {
        font-size: 16px;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .liElement {
        font-size: 14px;
        margin-right: 3px;
    }
}